@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --font: "Exo 2", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
    position: absolute;
    background: url('../img/found.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 441px;
    transform: scale(0.7);
    transform-origin: 0 0;
}

header{
    width: 630px;
}

#top{
    display: flex;
    position: relative;
    justify-content: space-around;
    height: 130px;
    backdrop-filter: blur(10px);
    z-index: 9999;
    

    #menu{
        display: flex;
        position: relative;
        align-items: center;
        gap: 15px;
        right: 10px;
        top: 35px;

        a{
            list-style: none;
            font: bold 14pt var(--font);
            color: rgb(255, 255, 255);
            text-decoration: none;
        }
        a:hover{
            transform: scale(1.1);
            transition: 0.8s;
            color: aqua;
            text-shadow: 1px 1px 8px aqua;
        }

        a{
            transform: scale(1.0);
            transition: 0.8s;
        }

        #painel{
            background: goldenrod;
            padding: 8px;
            position: relative;
            border-radius: 8px;
            color: white;
            text-shadow: 1px 1px 1px black;
        }
    }

    #icons{
        display: flex;
        position: relative;
        align-items: end;
        left: 410px;
        bottom: 80px;
        gap: 15px;

        img{
            display: flex;
            width: 35px;
            z-index: 99;
        }

        img:hover{
            transform: scale(1.2);
            transition: 0.5s;
        }

        img{
            transform: scale(1.0);
            transition: 0.5s;
        }
    }
}

#discover{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 15px;
    right: 240px;
    top: 214px;
    border-radius: 8px;

    h2{
        font: bold 24pt var(--font);
        color: white;
        position: relative;
        bottom: 260px;
        left: 175px;
        text-shadow: 1px 1px 1px black;
    }

    iframe{
        border-left: solid black 5px;
        border-right: solid black 5px;
        border-bottom: solid black 5px;
        border-top: solid black 5px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 5px;
        background: black;
        position: relative;
        bottom: 260px;
        left: 175px;
    }
}

#container0{
    padding: 310px;
    padding-bottom: 460px;
    display: flex;
    position: relative;
    bottom: 1270px;
    left: 6px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-radius: 8px;
}


#container{
    padding: 350px;
    padding-bottom: 500px;
    display: flex;
    position: relative;
    bottom: 100px;
    left: 10px;
    backdrop-filter: blur(10px);
}

.based{
    display: flex;
    position: absolute;
    width: 620px;
    right: -50px;
    bottom: 234px;
}


.download{
    position: relative;
    width: 300px;
    left: 100px;
    bottom: 20px;
}

.download:hover{
    transform: scale(1.2);
    transition: 0.5s;
}

.download{
    transform: scale(1.0);
    transition: 0.5s;
}


main{
    z-index: -999;
}

.required{
    position: relative;
    bottom: 200px;
    left: 175px;
    color: white;
    font: bold 15pt var(--font);
    white-space: nowrap;

    p{
        margin-bottom: 10px;
        text-shadow: 1px 1px 1px black;
        display: flex;
        justify-content: center;
        flex-direction: center;
    }
}

.carrossel{
    height: 250px;
    width: 450px;
    position: absolute;
    border: solid 2px white;
    overflow: auto;
    left: -294px;
    border-radius: 10px;
}

.carrossel2{
    height: 250px;
    width: 450px;
    position: relative;
    border: solid 2px white;
    overflow: auto;
    left: 390px;
    border-radius: 10px;
    top: 2806px;
}

.container2{
    display: flex;
    transition: transform 0.8s linear;
    transform:  translateY(0);

    & img{
        object-fit: cover;
        height: 250px;
        width: 450px;

    }
}

.player-ctrl {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;

    & img{
        width: 140px;

        img:hover{
            transform: scale(1.1);
            transition: 0.5s;
        }
    
        img{
            transform: scale(1.0);
            transition: 0.5s;
        }
    }
}
